<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        {% if title %}
        <title>{{ title }}</title>
        {% else %}
        <title>Welcome to MakiPortal</title>
        {% endif %}
    </head>
    <body>
        <div>
            MakiPortal:
            <a href="/index">Home</a>
            <a href="/login">Login</a>
            <a href="/maki?d=0">dx</a>
            <a href="/maki?d=1">dy</a>
            <a href="/maki?d=2">dz</a>
            <a href="/maki?d=3">dxy</a>
            <a href="/maki?d=4">dxyz</a>
            <a href="/maki?d=5">dtilt</a>
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>